p {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

h2 {
	text-align: center;
}

body {
	background-image: url(../../deadpool.jpg);
}

h1 {
	text-align: center;
	font-size: 24px;
	font-family: 'Permanent Marker', cursive;
}
